# ignore files/directries below
password集.md
t.md

materials_BTTC/着任メモ.md
materials_BTTC/ver_up業務/**
materials_BTTC/モブプロ/**
materials_BTTC/StrongParameters.md 

materials_OpenT/着任メモ.md
materials_OpenT/加盟店管理システム.md
materials_OpenT/IntegrationTest.md
materials_OpenT/スペルミス修正タスク.md
materials_OpenT/WeeklyMTG/**

materials_F/着任メモ.md
materials_F/dayry_reports/**
